.topWrap{
    height: 80px;
    margin-top: 70px;
}

.pageTitle{
    float: left;
    width: 250px;
    margin-left: 160px;
    font-size: 27px;
    font-weight: bold;
}

.registerBtn{
    float: right;
    width: 100px;
    height: 40px;
    margin-right: 160px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgb(84, 84, 84);
    background-color: rgb(84, 84, 84);
    color: white;
    cursor: pointer;
}

.bottomWrap{
    margin-bottom: 60px;
    background-color: rgb(245, 245, 245);
    width: 1200px;
    height: 650px;
    border: 1px solid grey;
}

.selectTitle{
    display: inline-block;
    width: 100px;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 22px;
}

.inputWrap{
    display: inline-block;
    font-size: 17px;
}

.title input{
    width: 950px;
    height: 40px;
}

.content{
    height: 400px;
}

.content .selectTitle{
    float: left;
}

.team select{
    width: 100px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}

.place select{
    width: 100px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}

.title input{
    width: 950px;
    height: 40px;
    padding-left: 13px;
}

.inputWrap textarea{
    width: 950px;
    height: 300px;
    padding: 13px;
}

.datePicker{
    width: 170px;
    height: 40px;
    padding-left: 17px;
}


