*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}

a{
    text-decoration: none;
    display: block;
}

.contents{
    float: left;
    height: 700px;
    width: 100%;
}

.newMatchList{
    float: left;
    width: 600px;
    height: 500px;
    margin-left: 80px;
    margin-top: 80px;
}

.stadiumList{
    float: right;
    width: 600px;
    height: 700px;
    margin-right: 80px;
    margin-top: 80px;
}