.challengeBtn{
    display: inline-block;
    font-size: 21px;
    margin-left: 900px;
    width: 190px;
    height: 55px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 55px;
    background-color: rgb(255, 229, 97);
    cursor: pointer;
    margin-top: 30px;
    margin-right: 30px;
}

.deleteBtn{
    display: inline-block;
    font-size: 21px;
    width: 190px;
    height: 55px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 55px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 30px;
    margin-right: 140px;
    color: rgb(171, 0, 0);
}

.matchWrap{
    background-color: rgb(239, 239, 239);
    width: 1200px;
    height: 750px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.topWrap{
    width: 1200px;
    height: 400px;
}

.teamMainInfo{
    float: left;
    width: 400px;
    height: 400px;
}

.teamImg img{
    width: 270px;
    height: 200px;
    margin-left: 75px;
    margin-top: 60px;
    border: 1px solid gray;
}

.teamName{
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 27px;
    text-align: center;
}

.teamSports{
    font-size: 25px;
    text-align: center;
    margin-left: 27px;
}

.teamInfo{
    float: left;
    width: 790px;
    height: 300px;
    margin-top: 60px;
    padding-right: 65px;
    margin-bottom: 42px;
}

.teamInfo b{
    font-size: 19px;
}

.teamIntro{
    font-size: 23px;
}

.teamBoss{
    font-size: 19px;
    margin-top: 20px; 
}

.teamScore{
    font-size: 19px; 
}

.teamHistory{
    font-size: 19px; 
}

.teammateInfo{
    font-size: 19px; 
}

.bottomWrap{
    background-color: white;
    width: 1100px;
    /* height: 320px; */
    padding-right: 40px;
    padding-bottom: 30px;
}

.date{
    font-size: 23px;
    padding-top: 40px;
    margin-left: 50px;
}

.place{
    font-size: 23px;
    padding-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.matchNotice{
    /* border: 1px solid gray; */
    margin-left: 10px;
    padding-bottom: 10px;
}

.matchTitle{
    font-size: 28px;
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 800;
}

.matchContent{
    font-size: 22px;
    padding-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 10px;
    font-weight: 500;
}