.searchBar{
    margin-top: 20px;
    height: 70px;
}

.hopelocal{
    float: left;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 180px;
    padding: 10px;
}

.hopelocalTxt{
    float: left;
    width: 80px;
    font-size: 22px;
}

.hopelocalSelect select{
    width: 80px;
    height: 35px;
    margin-left: 15px;
    font-size: 18px;
    text-indent: 10px;
}

.hopetime{
    float: left;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 150px;
    padding: 10px;
}

.hopetimeTxt{
    float: left;
    width: 130px;
    font-size: 22px;
}

.hopetimeSelect select{
    width: 130px;
    height: 35px;
    margin-left: 15px;
    font-size: 18px;
    text-indent: 10px;
}

.search{
    float: right;
    margin-right: 190px;
    margin-top: 8px;
    width: 300px;
}

/* Table */

.matchListTable{
    border: 1px solid gray;
    width: 1100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tableHead{
    background-color: #ededed;
    height: 55px;
    border-bottom: 1px solid grey;
    text-align: center;
    font-size: 19px;
}

.tableBody tr td{
    padding: 15px;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: center;
    font-size: 17px;
}

.tableBody tr:hover{
    background-color: rgb(240, 246, 236);
    cursor: pointer;
}