.leftWrap{
    float: left;
    width: 50%;
    height: 700px;
    border-right: 1px solid gray;
}

.leftTitleTxt{
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgb(233, 233, 233);
}

.stadiumImg img{
    width: 450px;
    height: 300px;
    border: 1px solid gray;
    margin-left: 142px;
}

.stadiumInfo{
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    width: 450px;
    /* height: 200px; */
    margin-top: 20px;
}

.stadiumName{
    font-size: 23px;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.stadiumPlace{
    font-size: 20px;
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.stadiumPhoneNum{
    font-size: 20px;
    padding: 5px;
    margin-left: 25px;
}

.stadiumHour{
    font-size: 20px;
    padding: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.rightWrap{
    float: right;
    width: 50%;
}

.rightTitleTxt{
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgb(233, 233, 233);
}

.reserveWrap{
    border: 1px solid gray;
    width: 80%;
    height: 520px;
}

.selectTitle{
    display: inline-block;
    width: 130px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 22px;
}

.inputWrap{
    display: inline-block;
    font-size: 17px;
}

.time .inputWrap{
    height: 150px;
}

.team select{
    width: 100px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}

.datePicker{
    width: 170px;
    height: 40px;
    padding-left: 17px;
}

.time select{
    width: 100px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}

.reserveBtn{
    width: 250px;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 60px;
    background-color: #206f2f;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 40px;
}