.leftWrap{
    float: left;
    width: 50%;
    /* height: 700px; */
    /* border: 1px solid gray; */
}

.leftTitleTxt{
    font-size: 28px;
    font-weight: 600;
    width: 80%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: rgb(233, 233, 233);
}

.stadiumImg img{
    width: 450px;
    height: 300px;
    border: 1px solid gray;
    margin-left: 142px;
}

.stadiumInfo{
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    width: 450px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.stadiumName{
    font-size: 23px;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.stadiumPlace{
    font-size: 20px;
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.stadiumPhoneNum{
    font-size: 20px;
    padding: 5px;
    margin-left: 25px;
}

.stadiumHour{
    font-size: 20px;
    padding: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.rightWrap{
    float: right;
    width: 50%;
}

.rightTitleTxt{
    font-size: 28px;
    font-weight: 600;
    width: 80%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: rgb(233, 233, 233);
}

.reserveWrap{
    border: 1px solid gray;
    width: 80%;
    margin-bottom: 50px;
}

.selectTitle{
    display: inline-block;
    width: 130px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 22px;
}

.inputWrap{
    display: inline-block;
    font-size: 17px;
}

.time .inputWrap{
    height: 140px;
}

.team select{
    width: 100px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}

.datePicker{
    width: 170px;
    height: 40px;
    padding-left: 17px;
}

.time select{
    width: 100px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}

summary{
    width: 250px;
    height: 60px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 60px;
    background-color: rgb(106, 106, 106);
    color: white;
    font-size: 23px;
    font-weight: 600;
    /* border: 1px solid rgb(161, 161, 161); */
    border-radius: 40px;
}

.reserveInfo{
    font-size: 20px;
    width: 450px;
    height: 80px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    padding-left: 70px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: rgb(246, 246, 246);
}

.reserveBtn{
    width: 250px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 60px;
    background-color: rgb(12, 128, 26);
    color: white;
    font-size: 23px;
    font-weight: 600;
    /* border: 1px solid rgb(161, 161, 161); */
    border-radius: 40px;
}

