.teamListTitle{
    display: inline-block;
    font-size: 28px;
    width: 250px;
    margin-left: 250px;
    margin-top: 55px;
    margin-bottom: 40px;
    font-weight: bold;
}

.teamInfoWrap{
    background-color: rgb(226, 226, 226);
    width: 1000px;
    padding: 10px;
    margin-bottom: 20px;
    /* border: 1px solid gray; */
}

.teamInfoWrap:hover{
    background-color: rgb(242, 242, 242);
}

.teamLink{
    text-decoration: none;
}

.teamLink:hover{
    text-decoration: none;
}

.teamName{
    display: inline-block;
    font-size: 23px;
    padding: 10px;
    margin-left: 30px;
    font-weight: 500;
}

.teamInfo{
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    padding-top: 0px;
    margin-left: 30px;
    font-weight: 500;
}

.teamInfo li{
    color: rgb(87, 87, 87);
}