*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}

a{
    text-decoration: none;
    display: block;
}

/* NewMatchListTable */

.newMatchList{
   border: 1px solid grey; 
}

.tableHead{
    background-color: rgb(234, 243, 230);
    height: 55px;
    border-bottom: 1px solid grey;
}

.tableTxt{
    display: inline-block;
    font-size: 19px;
    margin-left: 25px;
    line-height: 55px;
    font-weight: 900px;
}

.plusBtn{
    float: right;
    margin-right: 20px;
    margin-top: 11px;
    width: 70px;
    height: 33px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: white;
}

.tableBody img{
    width: 130px;
    height: 110px; 
}

.teamImg{
    width: 120px;
    height: 110px;
}

.tableBody tr td{
    padding: 13px;
    border: 1px solid grey;
}

.tableBody tr td:nth-child(2){
    width: 160px;
}

.tableBody tr:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

b{
    font-size: 16px;
}

