*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}

a{
    text-decoration: none;
    display: block;
}

/* StadiumListTable */

.stadiumList{
   border: 1px solid grey; 
}

.tableBody img{
    width: 180px;
    height: 120px; 
}

.stadiumTxt{
    width: 792px;
}

.tableBody tr td{
    padding: 14px;
    border: 1px solid grey;
}

.tableBody tr:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

strong{
    font-size: 18px;
}

