*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}

a{
    text-decoration: none;
    display: block;
}

.container img{
    margin-left: -90px;
    margin-bottom: 10px;
}

.me-auto{
    margin-left: 100px;
    font-size: 20px;
}

#collasible-nav-dropdown{
    margin-right: 20px;
    margin-left: 20px;
    color: #333333;
}

#collasible-nav-dropdown:hover{
    color: #4d7a59;
}

.nav-link a{
    margin-right: 30px;
    margin-left: 30px;
    color: #333333;
}

.nav-link a:hover{
    color: #4d7a59;
}

.dropdown-menu{
    margin-left: 10px;
}

.dropdown-item a{
    text-align: center;
}

.loginJoin{
    float: right;
    height: 150px;
    width: 250px;
}

.loginBtn{
    float: left;
    margin-top: 30px;
    margin-left: 90px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

.JoinBtn{
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

.contents{
    float: left;
    height: 700px;
    width: 100%;
}

.matchList{
    float: left;
    height: 700px;
    width: 675px;
}

.stadiumList{
    float: right;
    height: 700px;
    width: 675px;
}